body {
    background-color: #070E14;
    background-image: url("/img/background-main.jpeg");
    background-repeat: repeat;
}
#gameTitle{
    color: #ffff00;
    font-family: "Runescape UF";
    font-size: 4vw;
    text-shadow: 3px 3px #000000;
    margin: 30px 0;
}
#mainCont{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 86px;
}
#gameCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
#startButton{
    background-color: #281F16;
    background-image: url("/img/start-button.jpeg");
    background-repeat: repeat;
    border-radius: 15px;
    border-color: #454545;
    border-width: 2px;
    padding: 40px 60px;
    color: white;
    font-family: "Runescape UF";
    font-size: 2.5em;
    box-shadow: inset 0px 0px 20px 10px #0d0d0d;

}
#winLoseCont{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Runescape UF";
    color: white;
    font-size: 4em;
    flex-direction: column;
}
#winLoseCont img{
    height: 100px;
    width: auto;
    padding: 0 30px;
}
#winCont{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    padding: 0 0 50px 0;
}
#loseCont{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    font-size: 0.7em;
    padding: 0 0 50px 0;
}
#symbolCont{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
}
#symbolCont img{
    height: 200px;
    width: auto;
}
#symbolTitle{
    font-family: "Runescape UF";
    font-size: 2em;
    color: white;
}
#rockCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    /* padding: 25px; */
    background-color: #E2DBC8;
    box-shadow: inset 0px 0px 20px 10px #C0A886;
    border-radius: 8%;
    border: 2px solid #605443;
    margin: 20px;
}
#rockCont:active{
    box-shadow: inset 0px 0px 20px 10px #936039;

}
#paperCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #E2DBC8;
    box-shadow: inset 0px 0px 20px 10px #C0A886;
    border-radius: 8%;
    border: 2px solid #605443;
    margin: 20px;
}
#paperCont:active{
    box-shadow: inset 0px 0px 20px 10px #936039;
}
#scissorCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #E2DBC8;
    box-shadow: inset 0px 0px 20px 10px #C0A886;
    border-radius: 8%;
    border: 2px solid #605443;
    margin: 20px;
}
#scissorCont:active{
    box-shadow: inset 0px 0px 20px 10px #936039;
}
#mainScoreCont{
    display: flex;
    flex-direction: column;
    font-family: "Runescape UF";
    align-items: center;
    padding: 30px 0 0 0;
}
#mainScoreCont h3{
    color: #ffff00;
    font-size: 2.5em;
    margin: 40px 0 0 0;
}
#subScoreCont{
    display: flex;
}
#playerScoreCont{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 0 40px;
}
#playerScoreCont p{
    font-size: 2em;
}
#playerScoreCont span{
    font-size: 5em;
}
#botScoreCont{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 0 40px;
}
#botScoreCont p{
    font-size: 2em;
}
#botScoreCont span{
    font-size: 5em;
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 5px 0px;
    text-align: center;
    justify-content: center;
    background-image: url("/img/background-main.jpeg");
    border-top: 2px solid #070E14;
    background-repeat: repeat;
}
#footer p{
    font-family: "Runescape UF";
    color: white;
    font-size: 20px;
}
#footer a{
    font-family: "Runescape UF";
    color: #ffff00;
    font-size: 20px;
    text-decoration: none;
}
.hidden{
    visibility:hidden;
    height: 0px;
    padding: 0 !important;
}
.playerScoreUp{
    font-size: 7em !important;
    color: #09583B;
}
.botScoreUp{
    font-size: 7em !important;
    color: #6F0F09;
}
.tie{
    font-size: 7em !important;
    color: #777781;
}

@font-face {
    font-family: 'RuneScape UF';
    src: url('/fonts/RuneScape-UF.woff2') format('woff2'),
        url('/fonts/RuneScape-UF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@media screen and (max-width: 830px){
    #winLoseCont{
        font-size: 2em;
    }
    #winLoseCont img{
        height: 50px;
        width: auto;
    }
    #gameTitle{
        font-size: 2em;
    }
}